.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 305px 8rem;
}

.cake img {
  position: absolute;
  width: 500px;
  height: 500px;
  left: calc(50% - 500px/2 + 266px);
  top: 184px;
  border-radius: 0px;
}

.birthday_container_title h1 {
  position: absolute;
  width: 333px;
  height: 37px;
  top: 194px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  display: flex;
  align-items: center;
  color: #240D57;
}

.birthday_container_title p {
  position: absolute;
  width: 155px;
  height: 15px;
  top: 248px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
}

.date_titles1,
.date_titles2 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.date_titles1_p1,
.date_titles2_p2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #240D57;
}

.cointainer_p {
  margin: 0.7rem 1rem;
  line-height: 2rem;
}

.date_titles1_p1_span {
  color: #4F4F4F;
  font-weight: bold;
}

.arrow_icon {
  margin-left: 5.5rem;
}

.arrow_icon2 {
  margin-left: 8.5rem;
}


@media(max-width:960px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container_grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .cake img {
    position: absolute;
    width: 593px;
    height: 593px;
    left: calc(50% - 593px/2 - 0.5px);
    top: 88px;
    border-radius: 0px;
  }

  .birthday_container_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 137px;
    position: absolute;
    width: 594px;
    height: 72px;
    left: calc(50% - 176px/2 - 1px);
    top: 1035px;
  }

  .birthday_container_title h1 {
    position: absolute;
    width: 333px;
    height: 37px;
    left: -206px;
    top: -19rem;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    align-items: center;
    color: #240D57;
  }

  .birthday_container_title p {
    display: flex;
    width: 155px;
    height: 15px;
    left: -202px;
    top: -254px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
  }

  .date_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 137px;
    position: absolute;
    width: 594px;
    height: 72px;
    left: calc(50% - 614px/2 - 1px);
    top: 880px;
    border-radius: 10px;
  }

  .arrow_icon,
  .arrow_icon2 {
    margin-left: 18.5rem;
  }





}