.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 306px 15rem;
}

.cake img {
  position: absolute;
  width: 500px;
  height: 500px;
  left: calc(50% - 500px/2 + 266px);
  top: 184px;
  border-radius: 0px;
}

.birthday_container_title h1 {
  position: absolute;
  width: 333px;
  height: 37px;
  left: 240px;
  top: 194px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  display: flex;
  align-items: center;
  color: #240D57;
}

.birthday_container_title p {
  position: absolute;
  width: 155px;
  height: 15px;
  left: 240px;
  top: 248px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
}

.date_titles1,
.date_titles2 {
  display: flex;
  margin-bottom: 1rem;
}

.date_titles1_p1,
.date_titles2_p2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #240D57;
}

.cointainer_p {
  margin: 0.7rem 1rem;
  line-height: 2rem;
}

.date_titles1_p1_span {
  color: #4F4F4F;
  font-weight: bold;
}

