body {
  background: linear-gradient(0deg, #F6F2FF, #F6F2FF), #FBFAFF;
  height: 100vh;
}

.container { 
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.container_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  justify-content: center;
}

.heading_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  gap: 1rem;
  position: absolute;
  width: 574px;
  height: 10rem;
  left: calc(50% - 574px/2 + 309px);
  top: 306px;
}

.heading_text h1 {
  color: #240D57;
  width: 573.91px;
  height: 192px;
  left: 0px;
  top: 0px;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  text-align: right;
  margin: 0 3rem;
}

.heading_text p {
  width: 521px;
  height: 56px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #4F4F4F;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 3rem;
}

.heading_text span {
  position: absolute;
  width: 295px;
  height: 74px;
  left: 234px;
  top: 10px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  text-align: right;
  background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  width: 320px;
  font-size: 20px;
  font-weight: 700;
  height: 55px;
  left: calc(50% - 405px/2 + 436px);
  top: 622px;
  background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
  border-radius: 10px;
}

.grid_invite {
  margin: 0 auto;
  max-width: 100%;
}

.grid_invite img {
position: absolute;
width: 440px;
height: 775.69px;
left: calc(50% - 440px/2 - 366px);
top: 100px;
filter: drop-shadow(0px 0px 46.8696px rgba(0, 0, 0, 0.05));
border-radius: 35.1522px;
}

@media(max-width:960px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container_grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .grid_heroAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
 }

 .grid_invite img {
  width: 311px;
  height: 548.27px;
  left: calc(50% - 311px/2 + 0.5px);
  top: 307px;
  filter: drop-shadow(0px 0px 33.1283px rgba(0, 0, 0, 0.05));
  border-radius: 24.8462px;
 }

 .heading_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    gap: 1rem;
    position: absolute;
    width: 574px;
    height: 10rem;
    top: 60px;
 }
 .heading_text h1 {
  color: #240D57;
  width: 573.91px;
  height: 192px;
  left: 0px;
  top: 0px;
  font-weight: 700;
  text-align: center;
  font-size: 64px;
  line-height: 64px;
  margin: 1rem 19rem;
 }

 .heading_text span{
    position: absolute;
    width: 295px;
    height: 74px;
    left: -10rem;
    top: 10px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    /* text-align: right; */
    background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .heading_text p {
  width: 521px;
  height: 56px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #4F4F4F;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 20rem;
 }

 .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  color: #fff;
  text-decoration: none;
  position: relative;
  width: 320px;
  font-size: 20px;
  z-index: 1;
  font-weight: 700;
  height: 55px;
  margin-bottom: 5rem;
  top: 860px;
  left: 0;
  }
}


  

